* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.app {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
	background: #F5F7FB;
	color: #293264;
}